In [ ]:
import pandas as pd
import csv
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules
from itertools import groupby

In [ ]:
data = []

with open("Order3.csv") as file:
    reader = csv.reader(file,delimiter = ',')
    for row in reader:
        data+=[row]

In [ ]:
df = pd.DataFrame(data[1:], columns=data[0])
transactions = df.groupby('TransactionNo')['Items'].apply(list).values.tolist()
df.head()

  TransactionNo          Items          DateTime  Daypart  DayType
0             1          Bread   10/30/2016 9:58  Morning  Weekend
1             2   Scandinavian  10/30/2016 10:05  Morning  Weekend
2             2   Scandinavian  10/30/2016 10:05  Morning  Weekend
3             3  Hot chocolate  10/30/2016 10:07  Morning  Weekend
4             3            Jam  10/30/2016 10:07  Morning  Weekend

In [ ]:
te = TransactionEncoder()
te_ary = te.fit_transform(transactions)
print(te_ary)
df_new = pd.DataFrame(te_ary,columns = te.columns_)

[[False False False ... False False False]
 [False False False ... False False False]
 [False False False ... False False False]
 ...
 [False False False ... False False False]
 [False False False ... False False False]
 [False False  True ... False False False]]

In [ ]:
frequent_items = apriori(df_new,min_support=0.02,use_colnames=True)

rules = association_rules(frequent_items,metric="confidence",min_threshold = 0.5)
print(rules)

       antecedents consequents  antecedent support  consequent support  \
0           (Cake)    (Coffee)            0.103856            0.478394
1        (Cookies)    (Coffee)            0.054411            0.478394
2  (Hot chocolate)    (Coffee)            0.058320            0.478394
3          (Juice)    (Coffee)            0.038563            0.478394
4      (Medialuna)    (Coffee)            0.061807            0.478394
5         (Pastry)    (Coffee)            0.086107            0.478394
6       (Sandwich)    (Coffee)            0.071844            0.478394
7          (Toast)    (Coffee)            0.033597            0.478394

    support  confidence      lift  leverage  conviction  zhangs_metric
0  0.054728    0.526958  1.101515  0.005044    1.102664       0.102840
1  0.028209    0.518447  1.083723  0.002179    1.083174       0.081700
2  0.029583    0.507246  1.060311  0.001683    1.058553       0.060403
3  0.020602    0.534247  1.116750  0.002154    1.119919       0.108738
4  0.035182    0.569231  1.189878  0.005614    1.210871       0.170091
5  0.047544    0.552147  1.154168  0.006351    1.164682       0.146161
6  0.038246    0.532353  1.112792  0.003877    1.115384       0.109205
7  0.023666    0.704403  1.472431  0.007593    1.764582       0.332006